<h1>List of jobs</h1>

<% unless @jobs.empty? %>
  <aside><%= pluralize(@jobs.count, "job") %></aside>
<% end %>

<%= link_to "Add a job", new_job_path, class: "button global_action" %>

<%= render 'layouts/flash' %>

<% if @jobs.empty? %>
  <aside>No job is present.</aside>
<% else %>

  <%= will_paginate @jobs, inner_window: 2 %>

  <table>
    <colgroup>
      <col class="name">
      <col class="active">
      <col class="action">
      <col class="action">
      <col class="action">
    </colgroup>
    <tr>
      <th class="sort">
        <%= link_to "#{display_sort(:jobs, "name")}Name".html_safe, sort_jobs_path("name") %>
      </th>
      <th class="sort">
        <%= link_to "#{display_sort(:jobs, "active")}Active".html_safe, sort_jobs_path("active") %>
      </th>
      <th colspan="3">Actions</th>
    </tr>
    <%= render @jobs %>
  </table>

  <%= will_paginate @jobs, inner_window: 2 %>

  <section class="per_page">
    Per page :
    <% JOBS_PER_PAGE.each do |number| %>
      <% if (session[:jobs][:per_page] == @jobs.count and number == "all") \
         or (session[:jobs][:per_page] != @jobs.count and number == session[:jobs][:per_page]) %>
        <%= link_to number, per_page_jobs_path(number), class: "current" %>
      <% else %>
        <%= link_to number, per_page_jobs_path(number) %>
      <% end %>
    <% end %>
  </section>
<% end %>