<%= render 'shared/error_messages', object: f.object %>

<section class="content_fields">
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name,
      autofocus: true,
      size: SIZE_DEFAULT_INPUT_TEXT,
      maxlength: MAX_SIZE_USER_FIRST_NAME %>
  </div>

  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name,
      size: SIZE_DEFAULT_INPUT_TEXT,
      maxlength: MAX_SIZE_USER_LAST_NAME %>
  </div>

  <div>
    <%= f.label :active %>
    <%= f.radio_button :active, true %>
    <%= label_tag :user_active_true, "Yes" %>
    <%= f.radio_button :active, false %>
    <%= label_tag :user_active_false, "No" %>
  </div>

  <div>
    <%= f.label :admin %>
    <%= f.radio_button :admin, true %>
    <%= label_tag :user_admin_true, "Yes" %>
    <%= f.radio_button :admin, false %>
    <%= label_tag :user_admin_false, "No" %>
  </div>

  <% if action == "new" %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email,
        size: SIZE_DEFAULT_INPUT_TEXT,
        maxlength: MAX_SIZE_DEFAULT_INPUT_TEXT %>
    </div>

    <div>
      <%= f.label :email_confirmation %>
      <%= f.email_field :email_confirmation,
        size: SIZE_DEFAULT_INPUT_TEXT,
        maxlength: MAX_SIZE_DEFAULT_INPUT_TEXT %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password,
        autocomplete: "off",
        size: SIZE_DEFAULT_INPUT_TEXT,
        maxlength: MAX_SIZE_USER_PASSWORD %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation,
        size: SIZE_DEFAULT_INPUT_TEXT,
        maxlength: MAX_SIZE_USER_PASSWORD %>
    </div>
  <% else %>
    <div>
      <%= f.label :email %>
      <%= @user.email %>
    </div>
  <% end %>
</section>

<div class="actions">
  <%= f.submit "Save", class: "button" %>
  <%= link_to "Back", users_path, class: "button" %>
</div>
