<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if signed_in? %>
      <%= render 'layouts/nav' %>
      <section id="container">
        <div id="contain">
          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
          <pre>Jobs session : <%= session[:jobs] if Rails.env.development? %></pre>
          <pre>Users session : <%= session[:users] if Rails.env.development? %></pre>
          <pre>Contacts session : <%= session[:contacts] if Rails.env.development? %></pre>
        </div>
      </section>
    <% else %>
      <section id="main">
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </section>
    <% end %>
  </body>
</html>